@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100%;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1000px;
    margin: auto;
}

/* CABEÇALHO */
.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 0.7rem 1rem;
}

.cabecalho__logo {}

.cabecalho__logo img {
    width: 100%;
    max-width: 5rem;
}

/* MENU */
.cabecalho__navegacao {}

/* BOTÃO MOBILE */
#navegacao__botaoMenu {
    background-color: transparent;
    border: none;
    display: none;
}

.navegacao__listaLinks {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.navegacao__listaLinks li:nth-child(5) {
    margin-left: 1rem;
}

.listaLinks__item {}

.listaLinks__item a {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}

.listaLinks__item a::after {
    content: '';
    position: absolute;
    display: block;
    background: white;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transform-origin: left;
    transform: scale(0);
    transition: .3s;
}

.listaLinks__item a:hover::after {
    transform: scale(1);
}

.listaLinks__botao button {
    background-color: white;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.6rem 1.25rem;
    border-radius: 1.85rem;
    letter-spacing: 2.6px;
    font-size: 0.88em;
    cursor: pointer;
    box-shadow: 1px 4px 12px rgb(94 28 68 / 15%);
    transition: all .5s;
}

.listaLinks__botao button:hover {
    transform: scale(1.1);
}

.listaLinks__botao .botao--azul {
    color: white;
    background: linear-gradient(to bottom, #378de5 3%, #48789b 100%);
    border: 1px solid #5e97d1;
}

.listaLinks__botao .botao--branco {
    color: #5e97d1;
    background: linear-gradient(to bottom, #cbcbcb 2%, #fff 100%);
    border-radius: 30px;
    border: 1px solid #cbcbcb;
}

/* CONTEÚDO */
.conteudo {
    display: flex;
    align-items: center;
    gap: 11rem;
    align-items: center;
    padding: 1rem;
}

/* INTRODUÇÃO */
.conteudo__introducao {
    max-width: 480px;
}

.conteudo__introducao h1 {
    color: white;
    text-transform: uppercase;
    font-size: 2.2em;
    letter-spacing: 3px;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.conteudo__introducao h1 strong {
    font-size: 1.5em;
}

.conteudo__introducao p {
    color: white;
    margin-bottom: 2.4rem;
}

.conteudo__introducao a {
    margin: auto;
    display: block;
    width: 9rem;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to bottom, #cbcbcb 2%, #fff 100%);
    padding: 0.6rem 1.25rem;
    border-radius: 1.85rem;
    letter-spacing: 1.6px;
    box-shadow: 1px 4px 12px rgb(94 28 68 / 15%);
}

.conteudo__introducao a:hover {
    background: linear-gradient(to bottom, #fff, #cbcbcb);
}

/* IMAGEM */
.conteudo__img {}

.conteudo__img img {
    max-width: 200px;
}

@media screen and (max-width: 796px) {
    
    /* BOTÃO MOBILE */
    #navegacao__botaoMenu {
        display: block;
        cursor: pointer;
    }

    #navegacao__botaoMenu .hamburguer {
        border-top: 4px solid white;
        display: block;
        width: 2.5rem;
        transition: .4s;
        position: relative;
        z-index: 1;
    }

    #navegacao__botaoMenu .hamburguer::before, .hamburguer::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        margin: 7px 0;
        background-color: white;
        position: relative;
        transition: .5s;
    }

    #navegacao__botaoMenu .hamburguer.ativado {
        border-top: transparent;
        position: fixed;
        right: 1rem;
        top: 2.5rem;
    }

    #navegacao__botaoMenu .hamburguer.ativado::before {
        transform: rotate(135deg);
    }
    
    #navegacao__botaoMenu .hamburguer.ativado::after {
        transform: rotate(-135deg);
        top: -9px;
    }

    .navegacao__listaLinks {
        background-color: #375b76;
        position: fixed;
        top: -18%;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: 0;
        padding-top: 5rem;
        align-items: stretch;
        gap: unset;
        overflow: hidden;
        visibility: hidden;
        transition: all .5s;
    }

    .navegacao__listaLinks.ativado {
        height: 100vh;
        visibility: visible;
        top: 0;
    }

    .listaLinks__item a {
        display: block;
        padding: 0.9rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.426);
        text-align: center;
        width: 100%;
        transition: .5s;
    }

    .listaLinks__item a:hover {
        background-color: white;
        color: #375b76;
    }

    .listaLinks__item a:hover::after {
        display: none;
    }

    .navegacao__listaLinks li:nth-child(5) {
        margin-left: 0;
        margin: 1.5rem 0;
    }

    .listaLinks__botao button {
        width: 90%;
        margin: auto;
        display: block;
    }

    .conteudo {
        gap: 5rem; 
        flex-direction: column;
    }

    .conteudo__introducao {
        max-width: 100%;
    }

}